/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 9, 2023, 2:35:49 PM
    Author     : phuan
*/
.disabled-link {
    pointer-events: none;
    color: gray;
    text-decoration: none;
}

#dataTable {
    font-size: 14px;
}

.font-14 {
    font-size: 14px;
    font-family: Roboto, sans-serif;
}

.text-bold {
    font-weight: bold;
}

.edit-text {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  font-size: 12px;
  color: black;
  display: none;
}

.block-avatar:hover .edit-text {
  display: block;
}

.img-thumbnail:hover {
  opacity: 0.5;
  border: 2px solid red;
}

.text-customer-email {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.text-report-content {
    max-width: 320px;
    overflow: hidden;
    white-space: normal;
}

.text-order-name, .text-user-name {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-customer-active {
    background-color: #E9F8F2;
    border-radius: 50px;
    padding: 3px 10px;
    color: #36C685;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.text-customer-primary {
    background-color: #D9F0FF;
    border-radius: 50px;
    padding: 3px 10px;
    color: #007FFF;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.text-customer-warning {
    background-color: #FFECDB;
    border-radius: 50px;
    padding: 3px 10px;
    color: #FF7F50;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.text-customer-danger {
    background-color: #FFDAD5;
    border-radius: 50px;
    padding: 3px 10px;
    color: #FF5733;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.js-modal, .js-modal-edit, .js-modal-add, .js-modal-images {
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 1;
    z-index: 111;
}
.js-modal-open {
    display: flex;
}

.js-modal .modal-container-black {
    position: fixed;
    bottom: 15%;
    width: 600px;
    max-width: 60%;
    min-height: 200px;
    background-color: #212121;
    color: #ccc;
    border-radius: 5px;
    box-shadow: 0 0 27px rgba(255, 255, 255, 0.9);
    animation: modalFadeIn ease 0.5s;
}

.js-modal-edit .modal-container-black, .js-modal-add .modal-container-black, .js-modal-images .modal-container-black {
    position: fixed;
    bottom: 10%;
    width: 600px;
    max-width: 60%;
    min-height: 200px;
    background-color: #fdfdfd;
    color: #222;
    border-radius: 5px;
    box-shadow: 0 0 27px rgba(0, 0, 0, 0.9);
    animation: modalFadeIn ease 0.5s;
}

.js-modal-images .modal-container-black {
    position: fixed;
    bottom: 15%;
    width: 800px;
    max-width: 60%;
    min-height: 200px;
    background-color: #fdfdfd;
    color: #222;
    border-radius: 5px;
    box-shadow: 0 0 27px rgba(0, 0, 0, 0.9);
    animation: modalFadeIn ease 0.5s;
}

.js-modal .js-modal-close {
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -7px;
    right: 0;
    padding: 5px;
    opacity: 0.8;
}
.js-modal-edit .js-modal-close-edit, .js-modal-add .js-modal-close-add, .js-modal-images .js-modal-close-images {
    position: absolute;
    color: #222;
    font-size: 25px;
    top: -7px;
    right: 0;
    padding: 5px;
    opacity: 0.8;
}
.js-modal .js-modal-close:hover, .js-modal-edit .js-modal-close-edit:hover,
.js-modal-add .js-modal-close-add:hover, .js-modal-images .js-modal-close-images:hover{
    cursor: default;
    color: red;
    opacity: 1;
}

.modal-img-black {
    width: 100%;
    padding: 5px;
}

.modal-img-black img {
    border-radius: 10px;
    padding: 2px;
    border: 1px solid #8d8d8d;
    width: 160px;
    height: 180px;
}

.js-modal .level {
    margin: 10px;
    background: #000;
    color: #6ebee5;
    padding: 5px;
    border-radius: 50px;
    font-weight: 700;
    box-shadow: 0 0 5px 3px;
}
.js-modal-edit .level {
    margin: 10px;
    background: #eaecf4;
    color: #6ebee5;
    padding: 5px;
    border-radius: 50px;
    font-weight: 700;
    box-shadow: 0 0 5px 3px;
}
.text-account-title {
    color: #FF2400;
    text-shadow: 1px 0 1px rgba(255, 255, 255, 0.75);
}

.js-modal .modal-header-black {
    color: #f98d8d;
    display: block;
    border-bottom: 1px dashed #f98d8d;
    padding: 10px 0;
    margin: 0 10px 15px;
    height: 50px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.js-modal-edit .modal-header-black, .js-modal-add .modal-header-black, .js-modal-images .modal-header-black {
    color: red;
    display: block;
    border-bottom: 1px dashed #f98d8d;
    padding: 10px 0;
    margin: 0 10px 15px;
    height: 50px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.modal-body {
    padding: 1px;
}

.modal-content {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.footer-modal-black {
    border-top: 1px dashed #f98d8d;
    margin: 0 10px;
    padding: 10px 0;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile-exp {
    width: 100%;
    background: #cccccc;
    border-radius: 10px;
    overflow: hidden;
}
.profile-exp .profile-exp-bar {
    display: block;
    max-height: 100%;
    background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #b34bff);
    background-size: 300% 100%;
    -webkit-animation: progress-animation 2s linear infinite;
    animation: progress-animation 2s linear infinite;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
}
@keyframes progress-animation {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0;
    }
}

.block-avatar {
    position: relative;
    display: inline-block;
}

.icon-camera-avatar {
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50px;
    background-color: #999;
    color: #fff;
    padding: 10px 13px;
}